In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn import impute

In [2]:
# Load
base = pd.read_csv('../data/credit_data.csv')
base.head()

   clientid        income        age         loan  default
0         1  66155.925095  59.017015  8106.532131        0
1         2  34415.153966  48.117153  6564.745018        0
2         3  57317.170063  63.108049  8020.953296        0
3         4  42709.534201  45.751972  6103.642260        0
4         5  66952.688845  18.584336  8770.099235        1

In [3]:
previsores = base.drop('default', axis=1)
colunas = previsores.columns
classes = base['default']

In [4]:
# Substitui idades negativas pela média
previsores.loc[previsores.age < 0, 'age'] =  previsores['age'][previsores.age > 0].mean()

previsores.count()

clientid    2000
income      2000
age         1997
loan        2000
dtype: int64

In [5]:
# Substituição de valores inválidos
imputer = impute.SimpleImputer(missing_values=np.nan, strategy='mean')
previsores = pd.DataFrame(imputer.fit_transform(previsores))
previsores.columns = colunas

previsores.count()

clientid    2000
income      2000
age         2000
loan        2000
dtype: int64

In [6]:
previsores.describe().T

,count,mean,std,min,25%,50%,75%,max
clientid,2000.0,1000.500000,577.494589,1.000000,500.750000,1000.500000,1500.250000,2000.000000
income,2000.0,45331.600018,14326.327119,20014.489470,32796.459717,45789.117313,57791.281668,69995.685578
age,2000.0,40.927700,13.251870,18.055189,29.102161,41.300710,52.582340,63.971796
loan,2000.0,4444.369695,3045.410024,1.377630,1939.708847,3974.719419,6432.410625,13766.051239

In [7]:
# Escalonamento dos atributos
scaler = StandardScaler()
previsores = pd.DataFrame(scaler.fit_transform(previsores))
previsores.columns = colunas

previsores.describe().T

,count,mean,std,min,25%,50%,75%,max
clientid,2000.0,0.000000e+00,1.00025,-1.731185,-0.865592,0.000000,0.865592,1.731185
income,2000.0,7.815970e-17,1.00025,-1.767616,-0.875191,0.031943,0.869923,1.722022
age,2000.0,-4.796163e-17,1.00025,-1.726415,-0.892591,0.028155,0.879691,1.739367
loan,2000.0,1.385558e-16,1.00025,-1.459279,-0.822644,-0.154254,0.652962,3.061661

In [9]:
previsores.to_csv('../data/previsores.csv', index=False)
classes.to_csv('../data/classes.csv', index=False)