## Apriori

- Suporte: Threshold para porcentagem de ocorrências de cada item
- Confiança: A, B então C -> (No de Ocorrencias de A, B e C)/(No de ocorrencias de A e B)

- Lift: A>B (o quão mais frequente torna-se a quando B ocorre)

Quão relevante cada regra é -> confianca(A>B)/suporte(B)
Quanto maior o valor melhor é a métrica

In [1]:
import pandas as pd
from apyori import apriori

In [2]:
dados = pd.read_csv('../../data/mercado.csv', header=None)
dados.head()

         0        1         2         3
0    leite  cerveja       pao  manteiga
1     cafe      pao  manteiga       NaN
2     cafe      pao  manteiga       NaN
3    leite     cafe       pao  manteiga
4  cerveja      NaN       NaN       NaN

In [3]:
dados = dados.astype(str)
transacoes = dados.values.tolist()

In [8]:
regras = apriori(transacoes, min_support = 0.3, min_confidence = 0.8, min_lift = 2, min_length = 2)
resultados = list(regras)

In [7]:
resultados2 = [list(x) for x in resultados]
resultados2
resultadoFormatado = []
for j in range(0, 3):
    resultadoFormatado.append([list(x) for x in resultados2[j][2]])
resultadoFormatado

[[[frozenset({'cafe'}), frozenset({'manteiga'}), 1.0, 2.0]],
 [[frozenset({'cafe'}), frozenset({'pao'}), 1.0, 2.0]],
 [[frozenset({'cafe', 'manteiga'}), frozenset({'pao'}), 1.0, 2.0],
  [frozenset({'cafe', 'pao'}), frozenset({'manteiga'}), 1.0, 2.0]]]

### Exemplo com mais dados

In [10]:
dados = pd.read_csv('../../data/mercado2.csv', header=None)
dados.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
1,burgers,meatballs,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,chutney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,turkey,avocado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
dados = dados.astype(str)
transacoes = dados.values.tolist()

In [17]:
regras = apriori(transacoes, min_support = 0.003, min_confidence = 0.2, min_lift = 3, min_length = 2)
resultados = list(regras)

In [18]:
resultados2 = [list(x) for x in resultados]
resultados2
resultadoFormatado = []
for j in range(0, 5):
    resultadoFormatado.append([list(x) for x in resultados2[j][2]])
resultadoFormatado

[[[frozenset({'light cream'}),
   frozenset({'chicken'}),
   0.29059829059829057,
   4.84395061728395]],
 [[frozenset({'mushroom cream sauce'}),
   frozenset({'escalope'}),
   0.3006993006993007,
   3.790832696715049]],
 [[frozenset({'pasta'}),
   frozenset({'escalope'}),
   0.3728813559322034,
   4.700811850163794]],
 [[frozenset({'fromage blanc'}),
   frozenset({'honey'}),
   0.2450980392156863,
   5.164270764485569]],
 [[frozenset({'herb & pepper'}),
   frozenset({'ground beef'}),
   0.3234501347708895,
   3.2919938411349285]]]